.c-army-form__form {
  text-align: center;
}

.c-army-checkbox__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: $spacing-l;
}

.c-army-checkbox__label {
  display: inline-block;

  margin: rem(5px);
  padding: rem(5px) rem(7px);

  cursor: pointer;

  border-width: rem(1px);
  border-style: solid;
  border-radius: 50px;
  background-color: $primary;
}

.c-army-checkbox__button {
  @extend .c-base-button;
  font-size: rem(20px);
  margin-bottom: rem(10px);
  padding: rem(10px) rem(20px);
  box-shadow: rgba($primary-light, 0.3) 0 0 16px;
}
