.c-army-form__form {
  text-align: center;
}

.c-army-form__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: $spacing-l;
}

.c-army-form__checkbox {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin: rem(5px);
  padding: rem(5px) rem(7px);

  border-width: rem(1px);
  border-style: solid;
  border-radius: 50px;
  background-color: $primary;
}

.c-army-form__label {
  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
}

.c-army-form__input {
  appearance: none;
  background-color: #fff;
  margin: 0;
  display: grid;
  place-content: center;
  margin-right: $spacing-s;

  font: inherit;
  width: rem(16px);
  height: rem(16px);
  border: 1px solid $primary-light;
  border-radius: 50rem;
  background-color: $primary;

  &::before {
    content: "";
    width: rem(10px);
    height: rem(10px);
    border-radius: 50px;
    // transform: scale(0);
    opacity: 0;
    transition: 120ms opacity ease-in-out;
    box-shadow: inset 14px 14px $primary-light;
  }

  &:checked::before {
    // transform: scale(1);
    opacity: 1;
  }
}

.c-army-form__action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-army-form__button {
  @extend .c-base-button;
  font-size: rem(20px);
  margin-bottom: rem(10px);
  padding: rem(10px) rem(20px);
  box-shadow: rgba($primary-light, 0.3) 0 0 16px;
}
