.c-current-game {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.c-current-game__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $spacing-l;
}
.c-current-game__time {
  display: inline-block;
  font-size: 22px;
  margin-bottom: $spacing-m;
  padding-bottom: $spacing-s;
  border-bottom: 2px solid $accent-strong;
}
.c-current-game__players {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 220px));
  gap: $spacing-m;
  font-size: 20px;
  justify-content: center;
  align-content: center;
}
.c-current-game__player {
  text-align: center;
  border: 1px solid $accent-tiny;
  border-radius: 6px;
  padding: $spacing-m;
}
.c-current-game__name {
  display: block;
  margin-bottom: $spacing-m;
}
.c-current-game__army {
  display: inline-block;
  margin-bottom: $spacing-m;
  padding: $spacing-s;
  border-width: 2px;
  border-style: solid;
  border-radius: 50px;
}
.c-current-game__input--damage {
  @extend .c-base-input;
  font-size: 22px;
  padding: $spacing-m;
  width: rem(75px);
  margin: 0 auto;

  text-align: center;
}

.c-current-game__input--comment {
  @extend .c-base-input;
  font-size: 16px;
  width: rem(300px);
  margin: $spacing-m auto;
  padding: $spacing-s;

  text-align: center;
}

.c-current-game__submit {
  display: block;
  padding: rem(10px) rem(20px);
  font-size: 25px;
  color: $white;
  border: 1px $primary-light solid;
  border-radius: 50px;
  background-color: $primary;
  margin: 0 auto;
  cursor: pointer;
}
