body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  color: $white;
}

a,
.c-header__btn-link {
  color: $primary-light;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:active,
  &:hover,
  &:focus {
    color: $primary-light;
    border-bottom: 2px solid $primary-light;
  }
}
