// Colours
$background-dark: #232736;
$accent-tiny: #39455e;
$primary: #424e68;
$accent-strong: #f8ea6b;
$primary-light: #d1e6e7;
$white: #fff;
$error: #ec7855;
$correct: #c8e9d3;

// Spacing
$spacing-xs: rem(3px);
$spacing-s: rem(6px);
$spacing-m: rem(12px);
$spacing-l: rem(24px);
$spacing-xl: rem(32px);
$spacing-xxl: rem(48px);
$spacing-xxxl: rem(64px);
$spacing-xxxxl: rem(100px);
